extends ../layout/main-layout.pug

block styles
    link(rel="stylesheet", href="/admin.css")

block content
    .main-content.d-flex
        form(action="/new-password", method="post")
            .form-group.row
                .col-sm-6.col-form-label Email
                .col-sm-12
                    input.form-control(type="text", name="email") 
                    input(type="hidden", name="_csrf" value = `${csrfToken}`)
                button.btn.btn-success.d-flex.mt-4(type="submit" ) Reset Password
    if(errorMessage.length > 0) 
        div.text-center.text-danger #{errorMessage[0]}
    if(infoMessage.length > 0) 
        div.text-center.text-info #{infoMessage[0]}

