<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" , integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" ,crossorigin="anonymous")
        link(rel="stylesheet", href="/main.css")
        title #{title}
    block styles
    body
        nav.nav-header
            ul.nav-list.d-flex
                if(loggedIn)
                    li.list-item.p-2
                        a.list(href="/") Shop
                    li.list-item.p-2
                        a.list(href="/cart") Cart
                    li.list-item.p-2
                        a.list(href="/orders") Orders
                    li.list-item.p-2
                        a.list(href="/admin/edit-delete-product") Admin
                    li.list-item.p-2
                        a.list(href="/admin/add-product") Add Product
                    li.list-item.p-2.ml-auto
                        form(action="/logout", method="post")
                            input(type="hidden", name="_csrf" value = `${csrfToken}`)
                            button.btn.list.item(type="submit") Logout

                else
                    li.list-item.p-2.mr-auto
                        a.list(href="/") Shop
                    li.list-item.p-2
                        a.list(href="/login") Login
                    li.list-item.p-2
                        a.list(href="/signup") Signup
    block content